<mat-toolbar style="background-color: #f0f4f7;">
    <button class="home-button" (click)="openHomeView()" mat-button matTooltip="Home" [matTooltipPosition]="'below'">khovakrishnapilato.com</button>
    <span class="spacer"></span>
    <div class="toolbar-icons">
      <button mat-icon-button matTooltip="Work" [matTooltipPosition]="'below'">
        <i class="fa-brands fa-java"></i>
      </button>
      <span class="space"></span>
      <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="About" [matTooltipPosition]="'below'">
        <i class="fa-solid fa-address-card"></i>
      </button>
      <span class="space"></span>
      <button (click)="openGithub()" mat-icon-button matTooltip="GitHub" [matTooltipPosition]="'below'">
        <i class="fa-brands fa-github"></i>
      </button>
      <span class="space"></span>
      <button mat-icon-button matTooltip="Contact" (click)="openContactView()" [matTooltipPosition]="'below'">
        <i class="fa-regular fa-paper-plane"></i>
      </button>
    </div>
    <span class="spacer-right"></span>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item><mat-icon fontIcon="logout"></mat-icon>Logout</button>
  </mat-menu>