<mat-toolbar style="background-color: #f0f4f7;">
  <mat-icon color="primary" fontIcon="dashboard"></mat-icon>
    <span (click)="openHomeView()" class="hover-class" matTooltip="Home" [matTooltipPosition]="'below'" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Bytecode Chronicles</span>
    <span class="spacer"></span>
    <div class="toolbar-icons">
      <button mat-icon-button matTooltip="My Work" class="hover-class" [matTooltipPosition]="'below'">
        <mat-icon fontIcon="web_stories"></mat-icon>
      </button>
      <span class="space"></span>
      <button mat-icon-button class="hover-class" matTooltip="About me" [matTooltipPosition]="'below'">
        <mat-icon fontIcon="person"></mat-icon>
      </button>
      <span class="space"></span>
      <button mat-icon-button matTooltip="Skills" class="hover-class" [matTooltipPosition]="'below'">
        <mat-icon fontIcon="dataset"></mat-icon>
      </button>
      <span class="space"></span>
      <button mat-icon-button matTooltip="Contact" (click)="openContactView()" class="hover-class" [matTooltipPosition]="'below'">
        <mat-icon fontIcon="call"></mat-icon>
      </button>
    </div>
    <span class="spacer-right"></span>
  </mat-toolbar>