<div class="welcome-container">
  <h2>Ciao! I am Krishna</h2>
  <p>I build web applications using</p>
  <mat-chip-set aria-label="Programming Languages">
    <mat-chip *ngFor="let language of languages">
      {{ language }}
    </mat-chip>
  </mat-chip-set>
</div>

<div class="button-container">
  <button mat-raised-button color="warn" (click)="viewDevTools()">
    <mat-icon>code</mat-icon> View Dev Tools
  </button>
  <button mat-raised-button (click)="downloadCurriculumVitae()">
    <mat-icon>download</mat-icon> Download resume
  </button>
</div>