.skills-section {
  background-color: #1a202c;
  color: white;
  text-align: center;
}

.skills-carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.skills-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
}

.skill-item {
  min-width: 100%; /* Ensures that the skill item takes the full width of the container */
  padding: 20px;
  box-sizing: border-box;
}

.skill-card {
  background-color: #2d3748;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.skill-card:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.skill-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.tech-stack {
  font-size: 1.1rem;
  color: #a0aec0;
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #e2e8f0;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #3182ce;
  border-radius: 3px;
}

/* Mobile Styles */
@media (max-width: 640px) {
  .skill-card {
    padding: 15px;
  }

  .skill-title {
    font-size: 1.25rem;
  }

  .tech-stack {
    font-size: 1rem;
  }
}