<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title>Welcome back.</mat-card-title>
        <mat-card-subtitle>Sign in to continue.</mat-card-subtitle>
        <div class="space"></div>
        <mat-card-content>
            <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input [placeholder]="'Insert email'" matInput [(ngModel)]="loginRequest.email" name="loginRequest.email" required email/>
                    <mat-error *ngIf=" loginForm.controls['loginRequest.email']?.invalid && loginForm.controls['loginRequest.email']?.touched">
                        <ng-container *ngIf="loginForm.controls['loginRequest.email']?.hasError('required')">Email is required</ng-container>
                        <ng-container *ngIf="loginForm.controls['loginRequest.email']?.hasError('email')">Please enter a valid email</ng-container>
                    </mat-error>
                    <mat-icon matSuffix fontIcon="mail"></mat-icon>
                </mat-form-field>
                <div class="space"></div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <mat-icon *ngIf="loginForm.controls['loginRequest.password']?.value?.length === 0" matSuffix fontIcon="key"></mat-icon>
                    <input [placeholder]="'Insert password'" matInput [minLength]="7" [type]="hide ? 'password' : 'text'" [(ngModel)]="loginRequest.password" name="loginRequest.password" required/>
                    <mat-icon [matTooltipPosition]="'after'" [matTooltip]="hide ? 'Show password' : 'Hide password'" *ngIf="loginForm.controls['loginRequest.password']?.value?.length > 0" matSuffix (click)="hide = !hide">{{hide ? "visibility_off" : "visibility"}}</mat-icon>
                    <mat-error *ngIf="loginForm.controls['loginRequest.password']?.invalid && loginForm.controls['loginRequest.password']?.touched">
                        Password is required
                    </mat-error>
                </mat-form-field>
                <div class="space"></div>
                <div *ngIf="error" class="error">{{ error }}</div>
                <div class="space"></div>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" class="full-width">
                    Login <mat-icon iconPositionEnd fontIcon="login"></mat-icon>
                </button>
            </form>
            <div class="space"></div>
            <p class="signup-link">
                Don't have an account? 
                <u
                ><a routerLink="/auth/signup"
                  >Sign Up  <i class="fa-solid fa-plus"></i></a
              ></u>
            </p>
        </mat-card-content>
    </mat-card>
</div>