body {
  margin-top: 20px;
  background: #eee;
}

.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #00a8e8 0%, #007ea7 100%);
  background-image: -ms-linear-gradient(0deg, #00a8e8 0%, #007ea7 100%);
  color: #fff;
  animation: gradientAnimation 5s ease infinite;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2), 0 6px 16px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.contact-info__wrapper {
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 5rem !important;
  }
}

.contact-info__list span.position-absolute {
  left: 0;
}

.z-index-101 {
  z-index: 101;
}

.list-style--none {
  list-style: none;
}

.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 0.625rem 0.625rem;
}

@media (min-width: 1024px) {
  .contact__wrapper {
    border-radius: 0.625rem 0 0.625rem 0.625rem;
  }
}

@media (min-width: 1024px) {
  .contact-form__wrapper {
    padding: 5rem !important;
  }
}

.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}

input,
textarea {
  border-radius: 5px;
  border: 1px solid rgb(0, 94, 255);
}

button {
  background-image: -webkit-linear-gradient(0deg, #00a8e8 0%, #007ea7 100%);
}

input::placeholder {
  font-weight: bold;
  opacity: 0.3;
  font-size: 10px;
}

button {
  transition: background-color 0.2s ease;
}

.send-status {
  margin-top: 10px;
  color: green;
  text-align: center;
  font-weight: bold;
}

.status-sending {
  color: black; /* Color for sending status */
}

.status-success {
  color: green; /* Color for success status */
}

.status-error {
  color: red; /* Color for error status */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
