:root {
  --bg-color: #698da9;
  --font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
  background: rgb(255,241,247);
  background: radial-gradient(circle, rgb(255, 0, 111) 0%, rgb(0, 68, 255) 95%, rgb(0, 123, 255) 100%);
  font-family: var(--font-family);
}
.noselect {
  user-select: none;
}