.table-container {
  overflow: auto;
  max-height: 550px;
  width: 98%;
  margin: 0 auto;
}

.mat-header-cell {
  background-color: #f5f5f5; /* Light gray header background */
}

.mat-column-options {
  max-width: 20px !important;
}

.spacer {
  flex: 1;
}

.mat-row:hover .mat-cell {
  background-color: #e0e0e0;
  transition: background-color 0.5s ease;
}

.options-cell button[mat-icon-button] {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: gray;
}

.no-data-message {
  text-align: center;
  padding: 20px;
}
