/* Hide scrollbar for scrollable carousel */
.scrollbar-hide {
  scrollbar-width: none;
  overflow: hidden;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  overflow: hidden;
  /* Chrome, Safari, Opera */
}