<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-title>Let's get started.</mat-card-title>
    <mat-card-subtitle>Create an account to connect.</mat-card-subtitle>
    <div class="space"></div>
    <mat-card-content>
      <form (ngSubmit)="signUp(registrationForm)" #registrationForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            [placeholder]="'Insert full name'"
            [(ngModel)]="registrationRequest.fullName"
            name="registrationRequest.fullName"
            required
            minlength="2"
            pattern="[a-zA-Z\s]+"
          />
          <mat-error
            *ngIf="
              registrationForm.controls['registrationRequest.fullName']
                ?.errors &&
              (registrationForm.controls['registrationRequest.fullName']
                ?.dirty ||
                registrationForm.controls['registrationRequest.fullName']
                  ?.touched)
            "
          >
            <ng-container
              *ngIf="
                registrationForm.controls[
                  'registrationRequest.fullName'
                ]?.hasError('required')
              "
              >Full name is required</ng-container
            >
          </mat-error>
          <mat-icon matSuffix fontIcon="person"></mat-icon>
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            [placeholder]="'Insert email'"
            matInput
            [(ngModel)]="registrationRequest.email"
            name="registrationRequest.email"
            type="email"
            required
            email
          />
          <mat-error
            *ngIf="
              registrationForm.controls['registrationRequest.email']?.errors &&
              (registrationForm.controls['registrationRequest.email']?.dirty ||
                registrationForm.controls['registrationRequest.email']?.touched)
            "
          >
            <ng-container
              *ngIf="
                registrationForm.controls[
                  'registrationRequest.email'
                ]?.hasError('required')
              "
              >Email is required</ng-container
            >
            <ng-container
              *ngIf="
                registrationForm.controls[
                  'registrationRequest.email'
                ]?.hasError('email')
              "
              >Please enter a valid email</ng-container
            >
          </mat-error>
          <mat-icon matSuffix fontIcon="mail"></mat-icon>
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [placeholder]="'Insert password'"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="registrationRequest.password"
            name="registrationRequest.password"
            required
            minlength="9"
          />
          <mat-icon
            *ngIf="
              registrationForm.controls['registrationRequest.password']?.value
                ?.length === 0
            "
            matSuffix
            fontIcon="key"
          ></mat-icon>
          <mat-icon
            [matTooltipPosition]="'after'"
            [matTooltip]="hide ? 'Show password' : 'Hide password'"
            *ngIf="
              registrationForm.controls['registrationRequest.password']?.value
                ?.length > 0
            "
            matSuffix
            (click)="hide = !hide"
            >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
          <mat-error
            *ngIf="
              registrationForm.controls['registrationRequest.password']
                ?.errors &&
              (registrationForm.controls['registrationRequest.password']
                ?.dirty ||
                registrationForm.controls['registrationRequest.password']
                  ?.touched)
            "
          >
            <ng-container
              *ngIf="
                registrationForm.controls[
                  'registrationRequest.password'
                ]?.hasError('required')
              "
              >Password is required</ng-container
            >
            <ng-container
              *ngIf="
                registrationForm.controls[
                  'registrationRequest.password'
                ]?.hasError('minlength')
              "
              >Password must be at least 9 characters</ng-container
            >
          </mat-error>
        </mat-form-field>
        <div *ngIf="error" class="error">{{ error }}</div>
        <div class="space"></div>
        <div class="button-container">
          <button
            class="full-width"
            id="registrationButton"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="registrationForm.invalid"
          >
            Sign Up <mat-icon iconPositionEnd fontIcon="person_add"></mat-icon>
          </button>
        </div>
        <p mat-raised-button color="primary">
          Already have an account?
          <u
            ><a routerLink="/login"
              >Login <i class="fa-solid fa-right-to-bracket"></i></a
          ></u>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
