.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px;
  background-color: #f0f4f7;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

a:hover {
  color: #007bff;
}

.mat-raised-button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  transition: all 0.3s ease;
}

.mat-raised-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.view-work-button {
  background-color: #c6ff00;
  color: black;
}

.button-container > button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.download-button {
  font-size: small;
}

@keyframes blink {
  50% {
    transform: scaleY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
