/* Scroll Down Button Styling */
.scroll-down-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.scroll-down-button {
  font-size: 1.5rem;
  background-color: #DC2626; /* LinkedIn red */
  border-radius: 50%; /* Rounded circle */
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-down-button i {
  font-size: 1.5rem;
}

.scroll-down-button:hover {
  background-color: #B91C1C;
  transform: scale(1.1); /* Slight scaling effect */
}

/* Scroll Down Button Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-down-button {
  animation: bounce 1s infinite ease-in-out;
}
