<div class="welcome-container">
  <h1>Khova Krishna Pilato</h1>
  <p>Java Full Stack developer from <span matTooltip="Italy" [matTooltipPosition]="'after'" class="italy-flag">Italy</span>.</p>
  <p>I leave a lasting impact on the digital landscape with</p>
  <b><span class="typed-element"></span></b>
</div>

<div class="button-container">
  <button matTooltip="View my work" [matTooltipPosition]="'before'" mat-raised-button (click)="viewMyWork()">
    See my work <i class="fa-regular fa-eye"></i>
  </button>
  <button matTooltip="Download resume" [matTooltipPosition]="'after'" mat-raised-button (click)="downloadCurriculumVitae()">
    Download resume <i class="fa-solid fa-file"></i>
  </button>
</div>