<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Backend Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col h-screen bg-gradient-to-r from-green-200 via-purple-100 to-yellow-100 text-gray-800">
<div id="loading-screen" class="fixed inset-0 flex flex-col justify-center items-center bg-black z-50 text-white">
    <div class="w-12 h-12 border-4 border-gray-500 border-t-white rounded-full animate-spin"></div>
    <p class="mt-4 text-lg font-semibold">Loading...</p>
</div>
<header class="text-center py-6 bg-gray-900 text-white rounded-b-lg">
    <h1 class="text-4xl font-bold uppercase tracking-wide">Backend Dashboard</h1>
    <p class="text-lg mt-2 font-light">Manage and Monitor Your Backend Services</p>
</header>
<main class="flex flex-col items-center justify-center flex-grow px-4">
    <div class="message text-center">
        <p class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-500 via-purple-500 to-yellow-500">All backend services are running smoothly!</p>
        <p class="text-2xl mt-4 font-medium text-gray-700">Access detailed documentation or visit the frontend application below.</p>
    </div>
    <div class="buttons flex justify-center mt-8 space-x-8">
        <a  th:href="'/swagger-ui/index.html'" target="_blank" class="bg-green-600 text-white py-4 px-12 rounded-full shadow-xl hover:shadow-2xl hover:bg-green-700 font-bold text-xl transition duration-300">View Documentation</a>
        <a th:href="'https://krishnapilato.github.io/portfolio'" target="_blank" class="bg-red-500 text-white py-4 px-12 rounded-full shadow-xl hover:shadow-2xl hover:bg-orange-600 font-bold text-xl transition duration-300">Visit Frontend</a>
    </div>
</main>
<footer class="text-center py-4 bg-gray-900 text-gray-300 text-lg rounded-t-lg">
    <p>&copy; 2024 Backend Dashboard</p>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Simulate loading time
        setTimeout(function () {
            document.getElementById('loading-screen').style.display = 'none';
            document.body.style.visibility = 'visible';
        }, 3000); // 3 seconds
    });
</script>
</body>
</html>