<!DOCTYPE html>
<html lang="en">
<head>
    <title>PrismNexus - Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body class="flex flex-col h-screen bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300">
<div id="loading-screen" class="fixed inset-0 flex flex-col justify-center items-center bg-black z-50 text-white">
    <div class="w-12 h-12 border-4 border-gray-500 border-t-white rounded-full animate-spin"></div>
    <p class="mt-4 text-lg font-semibold">Loading...</p>
</div>

<main class="flex flex-col items-center justify-center flex-grow px-6 py-8 sm:py-12 bg-gray-90">
    <div class="message text-center">
        <p class="text-4xl sm:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-500 via-teal-500 to-blue-500">
            All backend services are running smoothly!
        </p>
        <p class="text-2xl sm:text-3xl mt-4 font-medium text-gray-700">Access documentation or visit the frontend
            application below.</p>
    </div>

    <div class="buttons flex flex-wrap justify-center mt-8 space-x-8 sm:space-x-12">
        <a href="/swagger-ui/index.html"
           class="bg-gradient-to-r from-green-500 to-green-600 text-white py-4 px-10 sm:px-12 rounded-full shadow-md hover:shadow-lg hover:bg-green-700 font-semibold text-xl transition-all duration-300 ease-in-out transform hover:scale-105">
            View Documentation
        </a>
        <a href="https://krishnapilato.github.io/kodek" target="_blank"
           class="bg-gradient-to-r from-red-500 to-red-600 text-white py-4 px-10 sm:px-12 rounded-full shadow-md hover:shadow-lg hover:bg-orange-600 font-semibold text-xl transition-all duration-300 ease-in-out transform hover:scale-105">
            Visit Frontend
        </a>
    </div>
</main>
<script>
    $(document).ready(() => setTimeout(() => { $('body').css('visibility', 'visible'); $('#loading-screen').hide(); }, 3000));
</script>
</body>
</html>