/* Basic styling */
.custom-modal {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  /* Set width and height */
  width: 600px; /* Adjust as needed */
  max-width: 100%; /* Ensure it's responsive on smaller screens */
  min-height: 200px; /* Adjust as needed */

  .title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }

  .centered {
    text-align: center;
  }

  .input-field {
    margin-bottom: 15px; /* Add spacing between input fields */
  }

  mat-form-field {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
  }
}

/* Specific styles for delete confirmation dialog */
.delete-confirmation {
  .title {
    color: red; /* Highlight the title in red */
  }
}
