<div class="custom-modal">
  <h6 class="title" [ngClass]="{ centered: titleCentered }">
    {{ titleLabel }}
  </h6>
  <p class="subtitle" [ngClass]="{ centered: subtitleCentered }">
    {{ subtitleLabel }}
  </p>

  <form [formGroup]="form">
    <div *ngFor="let field of inputFields" class="input-field">
      <!-- Text, Email, and Password Fields -->
      <mat-form-field *ngIf="isTextOrEmailOrPassword(field.type)">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matTooltip="Insert {{ field.label.toLowerCase() }}"
          matInput
          [type]="getInputType(field)"
          [placeholder]="'Insert ' + field.label.toLowerCase()"
          [formControlName]="field.label"
          [readonly]="isReadOnly()"
          [disabled]="field.disabled || false"
        />
        <mat-icon matSuffix *ngIf="field.type === 'password'">lock</mat-icon>
        <mat-icon matSuffix *ngIf="field.icon && field.type !== 'password'">{{
          field.icon
        }}</mat-icon>
        <mat-error *ngIf="hasError(field, 'required')">
          {{ field.label }} is required
        </mat-error>
        <mat-error *ngIf="hasError(field, 'email')">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="hasError(field, 'minlength')">
          {{ field.label }} must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="hasError(field, 'maxlength')">
          {{ field.label }} must not exceed 18 characters.
        </mat-error>
        <mat-error *ngIf="hasError(field, 'textOnly')">
          Only letters and spaces allowed.
        </mat-error>
      </mat-form-field>

      <!-- Number and Tel Fields -->
      <mat-form-field *ngIf="isNumberOrTel(field.type)">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matTooltip="Select an option for {{ field.label.toLowerCase() }}"
          matInput
          [type]="field.type"
          [formControlName]="field.label"
          [disabled]="field.disabled || false"
        />
        <mat-icon matSuffix *ngIf="field.icon">{{ field.icon }}</mat-icon>
        <mat-error *ngIf="hasError(field, 'required')">
          This field is required
        </mat-error>
      </mat-form-field>

      <!-- Select Field -->
      <mat-form-field *ngIf="field.type === 'select'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
          [formControlName]="field.label"
          placeholder="Select {{ field.label.toLowerCase() }}"
          matTooltip="Select an option for {{ field.label.toLowerCase() }}"
        >
          <mat-option
            *ngFor="let option of field.options"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Buttons -->
    <div class="button-container">
      <button
        matTooltip="Close Dialog"
        [matTooltipPosition]="'before'"
        mat-button
        (click)="dialogRef.close()"
      >
        {{ cancelButtonLabel || "primary" }}
      </button>
      <button
        *ngIf="!isInformationDialog()"
        [disabled]="isSubmitDisabled()"
        matTooltip="{{ submitButtonTooltip }}"
        mat-raised-button
        [color]="submitButtonColor"
        (click)="onSubmit()"
        matTooltipPosition="after"
      >
        {{ submitButtonLabel }}
        <mat-icon matSuffix *ngIf="submitButtonIcon">{{
          submitButtonIcon
        }}</mat-icon>
      </button>
    </div>
  </form>
</div>
