.custom-modal {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

  width: 600px;
  max-width: 100%;
  min-height: 200px;

  .title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .subtitle {
    margin-top: 0px;
    font-size: 0.9rem;
  }

  .centered {
    text-align: center;
  }

  .input-field {
    margin-bottom: 15px;
  }

  mat-form-field {
    width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
  }
}
