<section id="about" data-aos="fade-in">
    <div class="about-container" data-aos="fade-up" data-aos-delay="100">

        <!-- Profile Card -->
        <div class="profile-card" data-aos="fade-up" data-aos-delay="200">

            <!-- Profile Image -->
            <div class="profile-image-container" data-aos="zoom-in" data-aos-delay="300">
                <img title="profileImage" [src]="profileImage" [alt]="profileName" class="profile-image"
                    draggable="false" />
                <div class="image-border-effect"></div>
            </div>
            
            <!-- Profile Information -->
            <div class="mt-5 profile-info" data-aos="fade-up" data-aos-delay="400">
                <h3 class="profile-name">{{ profileName }}</h3>
                <p class="profile-title">{{ profileTitle }}</p>

                <p *ngFor="let paragraph of profileDescription; let i = index" [class.mt-4]="i > 0">
                    {{ paragraph }}
                </p>
            </div>
        </div>

        <!-- Timeline -->
        <div class="career-timeline" data-aos="fade-up" data-aos-delay="600">
            <!-- Timeline Title and Subtitle -->
            <h2 class="section-title">{{ journeyTitle }}</h2>
            <p class="section-subtitle">{{ journeySubtitle }}</p>

            <!-- Timeline Items -->
            <div class="timeline">
                <div class="timeline-item" *ngFor="let item of timeline">
                    <div class="timeline-marker">
                        <div class="marker-dot"></div>
                        <div class="marker-line" *ngIf="item !== timeline[timeline.length - 1]"></div>
                    </div>
                    <div class="timeline-content" [attr.data-aos]="'fade-up'" [attr.data-aos-delay]="item.delay">
                        <h3 class="timeline-year">{{ item.year }}</h3>
                        <h4 class="timeline-title">{{ item.title }}</h4>
                        <p class="timeline-description">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>